body{
    background-image: url(background\ image.jpg);
    background-size: auto;

}

/* .body-container{opacity: 0.5;} */
.container{
 
    
        background-color: rgba(211, 211, 211, 0.3); 
        width: 350px; 
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        padding: 30px;
        margin: 190px auto; 
        border-radius: 10px;
        text-align: center;
        height: 300px; 
    }
    

input[type=text]{
    padding: 6px;
    
    border-radius: 3px;
    color: rgb(202, 193, 193);
    
    background-color: rgb(187, 159, 159);
    border: none;
    cursor: pointer;
    width: 260px;
    height: 20px;
}
input[type=password]{
    padding: 6px;
    border-radius: 3px;
    color:rgb(202, 193, 193);
    
    background-color: rgb(187, 159, 159);
    border: none;
    cursor: pointer;
    width: 260px;
    height: 20px;
}
button{
    background-color: #075e5e;
    width: 270px;
    height: 30px;
cursor: pointer;
border: none;
color: white;
}



.header{
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
bottom: 20px;
}
button:hover{
background-color: #5f9494;
}
.lower-container {
    display: flex;
    width: 280px;
    justify-content: space-between;

}
 
  .lower-container a{
    text-decoration: none;
  } 

